<h1>🏠 Gestión de Propiedades</h1>

<div class="form-container">

  <input
    type="text"
    placeholder="Nombre propiedad"
    [(ngModel)]="nombre">

  <input
    type="text"
    placeholder="Dirección"
    [(ngModel)]="direccion">

  <input
    type="number"
    placeholder="Valor arriendo"
    [(ngModel)]="valorArriendo">

    <select
    [(ngModel)]="buildingName">

    <option value="">
        Seleccionar edificio
    </option>

    <option
        *ngFor="let building of buildings$ | async"
        [value]="building.nombre">

        {{ building.nombre }}

    </option>

    </select>

  <button (click)="saveProperty()">
    Guardar Propiedad
  </button>

</div>

<hr>

<h2>Propiedades Registradas</h2>

<div *ngFor="let property of properties$ | async" class="property-card">

    <div class="building-badge">
        🏢 {{ property.buildingName }}
    </div>

    <h3>
        🏠 {{ property.nombre }}
    </h3>

    <p>
        📍 {{ property.direccion }}
    </p>

    <p>
        💰 ${{ property.valorArriendo }}
    </p>

</div>