<h1>🔧 Solicitudes y Mantenciones</h1>

<button class="back-btn" (click)="goBack()">
  ← Volver
</button>

<div class="ticket-form">

  <input
    type="text"
    placeholder="Asunto"
    [(ngModel)]="asunto">

  <textarea
    placeholder="Descripción"
    [(ngModel)]="descripcion">
  </textarea>

  <button (click)="saveTicket()">
    📩 Crear Ticket
  </button>

</div>

<hr>

<h2>Tickets Registrados</h2>

<div
  class="ticket-card"
  *ngFor="let ticket of tickets$ | async">

  <div class="ticket-header">

    <h3>
      🔧 {{ ticket.asunto }}
    </h3>

    <span class="ticket-status">
      {{ ticket.estado }}
    </span>

  </div>

  <p class="description">
    {{ ticket.descripcion }}
  </p>

  <p class="creator">
    👤 {{ ticket.creadoPor }}
  </p>

</div>