.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.expense-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

.back-btn {
  background: #6b7280;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-btn:hover {
  background: #4b5563;
}