<button (click)="logout()">
  🚪 Cerrar Sesión
</button>

<hr>

<h1>🏢 Panel Administrador</h1>

<div class="cards">

    <div class="card" (click)="goToBuildings()">
        <h2>🏢 Edificios</h2>
        <p>Gestionar edificios</p>
    </div>

    <div class="card" (click)="goToProperties()">
        <h2>🏠 Departamentos</h2>
        <p>Gestionar departamentos</p>
    </div>

    <div class="card" (click)="goToPayments()">
        <h2>💰 Cobros</h2>
        <p>Gestionar arriendos y servicios</p>
    </div>

    <div
        class="card"
        (click)="goToTickets()">

        <h2>🔧 Tickets</h2>

        <p>
            Solicitudes y mantenciones
        </p>

    </div>

</div>